body {
    font-family: Arial, sans-serif;
    background-color: #f0f9ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

form {
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px lightgray;
}

label {
    display: block;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 6px;
    margin-top: 4px;
}

button {
    width: 100%;
    padding: 8px;
    background-color: #38bdf8;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #0ea5e9;
}

#mensaje {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}
